.swiper-container {
    width: 100%;
    height: 600px; /* Ограничиваем высоту карусели */
}

.swiper-slide {
    display: flex;
    justify-content: center; /* Центрируем изображение по горизонтали */
    align-items: center; /* Центрируем изображение по вертикали */
}

.swiper-slide img {
    width: 100%; /* Изображения по ширине */
    height: 100%; /* Высота изображения */
    object-fit: cover; /* Изображение будет обрезано, если оно выходит за пределы контейнера */
}

/* Стили для стрелок */
.swiper-button-next, .swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    color: white; /* Цвет стрелок */
    border-radius: 5px; /* Округленные углы */
    width: 40px; /* Ширина кнопки */
    height: 40px; /* Высота кнопки */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Размер стрелки */
}

/* Позиционирование стрелок */
.swiper-button-next {
    right: 10px; /* Расстояние от правого края */
}

.swiper-button-prev {
    left: 10px; /* Расстояние от левого края */
}